<!DOCTYPE html>
<html>
<head>
    <title>商品类别选择</title>
    <script src='../../js/baseLib.js'></script>
</head>
<body>
<div id="djapp" v-cloak>
    <div class="select-title">商品类别选择</div>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group" style="width:200px; float:left; margin-right:20px">
                <input type="text" class="form-control" v-model="q.crmName" @keyup.enter="query" placeholder="商品种类">
            </div>
            <a class="btn btn-default">查询</a>
            <a class="btn btn-primary" onclick="select_qd()">确定</a>
            <a class="btn btn-warning" onclick="select_qx()">取消</a>
        </div>
        <div class="transfer">
            <table id="jqGrid"></table>
            <div id="jqGridPager"></div>
        </div>
    </div>
</div>
<style>
.transfer{ clear:both;  }
/*.transfer_left{ width: 350px; float: left }
.transfer_center{ float: left; padding:10px; padding-top:100px; text-align: center;}
.transfer_right{ width:350px;float: left }*/
</style>

<script src="../../js/modules/select/goodsType.js"></script>
</body>
</html>