<!DOCTYPE html>
<html>
<head>
    <title>量体通知单</title>
    <script src='../../js/baseLib.js'></script>
</head>
<body>
<div id="djapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.noticeNo" @keyup.enter="query" placeholder="订单通知编号">
            </div>
            
            <a class="btn btn-default" @click="query">查询</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>
<script src="../../js/modules/crm/order.js"></script>
</body>
</html>